* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    opacity:0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom,#3E2E2D,#838E94);
    z-index: -1;
}

.burger {
    width: 32px;
    height: 24px;
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}

#logo {
    grid-column: 2/3;
    font-size: 24px;
    font-family: 'Calibri';
}

.burger {
    justify-self: end;
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero {
    width: 100%;
    height: 60%;
    position: relative;
}

.hero img {

    padding: 10px 10px 10px 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    letter-spacing: 0.2em;
    font-family: 'Verdana';
    position: absolute;
    padding-top: 30%;
    padding-right: 20%;
    top: 70%;
    left: 10%;
    font-size: 30px;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 3;
    text-shadow: 0px 1px 5px black;
}

.navbar a {
    
    letter-spacing: 0.2em;
}

.hero::after {
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
}

.bg-dark {
    background-color: transparent !important;
}

@media screen and(min-width:768) {
    .slider {
        height: 100%
    }
}

@media screen and(max-width:375) {
    .headline {}
}

.navbar{

    grid-column: 2/3;
}

.contentText h1{

    text-align: center;
    
}

.contentText {

    font-size: 16px;
    line-height: 40px;
    margin: 0 auto;
    width: 60%;
    font-family: 'Calibri';
    color: white;
}